@model ShopViewModel

@section Styles {
<link rel="stylesheet" type="text/css" href="~/css/style.css" media="screen" />
}

@{
    int count = 1;
}

<div class="dataContainer mb-3 mt-3">
    <h2 class="text-center text-primary"><i>List of Shops</i></h2>

    <a asp-action="Add" class="btn btn-primary mb-3">Add Shop</a>

    @if (ViewBag.Message != null)
    {
        <p class="font-weight-bold text-danger">@ViewBag.Message</p>
    }

    <table id="example" class="table table-striped table-bordered table-hover text-center w-100">
        <thead>
            <tr>
                <th class="align-middle">No</th>
                <th class="align-middle">Name</th>
                <th class="align-middle">Link</th>
                <th class="align-middle">Country Name</th>
                <th class="align-middle">Category Name</th>
                <th class="align-middle">Actions</th>
                <th class="align-middle">Photo Actions</th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Shops.Count > 0)
            {
                foreach (var shop in Model.Shops)
                {
                    <tr class="shop-model-table">
                        <td>
                            <span>@(count++)</span>
                        </td>
                        <td>
                            <span>@shop.Name</span>
                        </td>
                        <td>
                            <a href="@shop.Link" target="_blank">@shop.Link</a>
                        </td>
                        <td>
                            <span>@shop.SelectedCountry.Name</span>
                        </td>
                        <td>
                            <span>@shop.SelectedCategory.Name</span>
                        </td>

                        <td style="display: flex; border-bottom: none; padding-top: 30px;">
                            <a asp-action="Update" asp-route-shopId="@shop.Id" class="btn btn-warning mr-1 text-white">Update</a>

                            <a onclick="showDeleteModal(@shop.Id)" href="#" data-id="@shop.Id" data-target="#DeleteRecord" data-toggle="modal" class="btn btn-danger text-white">
                                Delete
                            </a>
                        </td>

                        <td class="w-100">
                            <a asp-action="UploadNewImage" asp-route-shopId="@shop.Id" class="btn btn-warning text-white">
                                Upload New Image
                            </a>

                            <a onclick="showImageModal(@shop.Id)" href="#" data-id="@shop.Id" data-target="#ShowImage" data-toggle="modal" class="btn btn-primary text-white">
                                Show Image
                            </a>

                            <a asp-controller="Shop" asp-action="DownloadImage" asp-route-shopId="@shop.Id" class="btn btn-dark text-white mt-1">
                                Download Image
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="position-relative">
                    <td class="font-weight-bold text-danger text-left position-absolute w-100">List is Empty!</td>
                </tr>
            }
        </tbody>
    </table>

    <!-- START - Modal for Delete Confirmation -->
    <div class="modal fade" tabindex="-1" role="dialog" id="DeleteRecord">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Shop Delete Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p class="text-danger font-weight-bold">Are you sure want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <input hidden id="deletedItemId" />

                    <button type="button" class="btn btn-dark" data-dismiss="modal">No</button>
                    <button type="button" id="deleteYesButton" class="btn btn-danger">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END - Modal for Delete Confirmation -->

    <!-- START - PHOTO MODAL-->
    <div class="modal fade" tabindex="-1" role="dialog" id="ShowImage">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Shop Image</h5>
                </div>
                <div class="modal-body text-center">
                    <img id="shopImage" style='height: auto; width: 100%;max-width:200px;' src="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END - PHOTO MODAL-->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    // delete Shop Modal
    function showDeleteModal(id) {
        $("#deletedItemId").val(id);
    };

    $("#deleteYesButton").click(function () {
        var id = $("#deletedItemId").val();

        $.ajax({
            type: 'POST',
            url: 'Shop/Delete/',
            data: { "shopId": id },
            success: function (data) {
                location.reload();
            },
        })
    });

    // show Shop Image Modal
    function showImageModal(id) {
        $('#shopImage').attr('src', '/Shop/DownloadImage?shopId='+id);
    };

</script>
