@model ShopModel

<form asp-controller="Shop" asp-action="Update" class="form-group">
    <h2 class="text-center text-primary"><i>Update Shop ID: @Model.Id</i></h2>

    <div class="form-group">
        <label asp-for="Name" class="mr-sm-2">Name:</label>
        <input asp-for="Name" class="form-control mb-2 mr-sm-2" />
    </div>

    <div class="form-group">
        <label asp-for="Link" class="mr-sm-2">Link:</label>
        <input asp-for="Link" class="form-control mb-2 mr-sm-2" />
    </div>

    <div class="form-group">
        <label asp-for="CoverPhoto" class="mr-sm-2">Photo:</label>

        <div class="custom-file">
            <input type="file" asp-for="CoverPhoto" class="custom-file-input mb-2 mr-sm-2" id="customFile" />  
            <label for="customFile" class="custom-file-label mr-sm-2">Choose Photo</label>
        </div>       
    </div>

    <div class="form-group">
        <label asp-for="SelectedCountry" class="mr-sm-2">Select Country:</label>
        <select asp-for="SelectedCountry" class="custom-select" asp-items="@Model.CountriesSelectList" id="@Model.Id">
            <option value="noselectedvalue" selected disabled>Select Country</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="SelectedCategory" class="mr-sm-2">Select Category:</label>
        <select asp-for="SelectedCategory" class="custom-select" asp-items="@Model.CategoriesSelectList" id="@Model.Id">
            <option value="noselectedvalue" selected disabled>Select Category</option>
        </select>
    </div>

    @{
        if (Model != null && Model.Id > 0)
        {
            <input type="hidden" value="@Model.Id" name="Id" />
        }

        if (ViewBag.IsExistName != null)
        {
            <p class="font-weight-bold text-danger">@ViewBag.IsExistName</p>
        }
    }

    <a asp-action="Index" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-warning">Update</button>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}